@media only screen and (max-width: 576px) {
  /*......................
 header and nav styles 
 ......................*/
  .header_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .header-banner {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  /*..............
   main Styles
 ...............*/
  #brands {
    flex-wrap: wrap;
    border: 0;
  }
  #brands .logo {
    width: calc(100% / 4);
  }
  #brands .logo img {
    width: 80%;
  }
  /*...................
  Popular Collection 
 ...................*/
  .popular-collection-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  /* ...............
    featured product 
  ................ */
  .featured-product-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .featured-product-wrapper p {
    padding: 16px 275px;
  }
  .featured-product {
    grid-row: 2;
  }
  .featured-product img {
    width: 80%;
  }
  .featured-product-content {
    grid-row: 1;
  }
  .featured-product-content .btn{
    margin-bottom: 10px;
  }
}
