@media only screen and (max-width: 576px) {
  .container {
    width: 570px;
  }
  /*......................
 header and nav styles 
 ......................*/
  .header_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .header-banner {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  /*..............
   main Styles
 ...............*/
  #brands {
    flex-wrap: wrap;
    border: 0;
  }
  #brands .logo {
    width: 20%;
  }
  #brands .logo img {
    width: 100;
  }
  /*...................
  Popular Collection 
 ...................*/
  .popular-collection-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  /* ...............
    featured product 
  ................ */
  .featured-product-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
    flex-direction: column-reverse;
  }
  .featured-product-wrapper p {
    padding: 16px;
  }

  .featured-product img {
    width: 100%;
  }
  .featured-product-content .btn {
    margin-bottom: 10px;
  }
}
